<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a
      href="https://www.supermercadolosportales.pe"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Supermercado Los Portales</span>
    </a>
    <a
      href="https://www.portalescafe.com"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Portales Café</span>
    </a>
    <a
      href="https://distribuidoracsm.pe/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link2"
    >
      <span>Distribuidora CSM</span>
    </a>
  </nav>
</div>
